.box{
    /* background-color: aqua; */
}
.container{
    width: 80%;
    
    
    margin: auto;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
    
}
.quans{
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.quans h1{
    padding-top: 20px;
}